<% layout('layouts/boilerplate') %>
<div id="cluster-map"></div>

<div class="container">
    <h1>All Hotels</h1>
    <div class="row row-cols-auto">
        <% for (let hotel of hotels){ %>
            <div class="col">
                <div onclick="window.location='/hotels/<%= hotel._id %>'" id="indexCard" class="card">
                    <% if(hotel.images.length) { %>
                        <img src="<%=hotel.images[0].url%>" class="card-img-top" alt="...">
                    <% }else { %>
                        <img src="https://res.cloudinary.com/dwbefprlg/image/upload/v1649935892/FindMeHotel/no-picture-available-icon-1_tepquv.png" class="card-img-top" alt="...">    
                    <% } %>
                    <div class="card-body">
                        <h5 class="card-title"><%= hotel.title %></h5>
                        <p class="card-text"><%= hotel.location %></p>
                        <p class="card-text" style="font-weight: bold;">₹<%= hotel.price %> night</p>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    
    const hotels = { features:  <%-JSON.stringify(hotels)%> };
    //data section in clusterMap is expecting us to pass feature as a key also which maps to all hotels 
</script>

<script src="/javascripts/clusterMap.js"></script>